/* To make color changes, change the variables in both the userChrome AND userContent files */

:root{
	--95grey:#c9c9c9;
	--95concave:inset -1px -1px #0a0a0a,inset 1px 1px #fff,inset -2px -2px grey,inset 2px 2px #dfdfdf;
	--95convex:inset -1px -1px #fff,inset 1px 1px grey,inset -2px -2px #dfdfdf,inset 2px 2px #0a0a0a
}

@-moz-document url-prefix(about:home), url-prefix(about:newtab) {
	.logo {
		background: url(ff-std.svg) no-repeat center !important;
	}
	.search-handoff-button{
		border-radius: 0px !important;
		box-shadow: var(--95convex) !important;
	}
	.tile{
		border-radius: 0px !important;
		box-shadow: var(--95convex) !important;
	}
	.card{
		border-radius: 0px !important;
		box-shadow: var(--95convex) !important;
	}
	body{
		/* background-color could also be set to 95grey for a more period-correct color.*/ 
		background-color: #E5E5E5 !important;
		box-shadow:var(--95convex) !important;
	}
	.card-preview-image-outer{
		border-radius: 0px !important;
		box-shadow:var(--95convex) !important;
		padding:2px !important;
	}
	.card-details{
		box-shadow: var(--95convex)  !important;
	}
	.card-context{
	visibility: hidden !important;	
	}
	.top-sites-list:not(.dnd-active) .top-site-outer:is(.active, :focus, :hover){
		border-radius: 0px;
	}
}

