/* To make color changes, change the variables in both the userChrome AND userContent files */

:root{
/* NORMAL BROWSING COLORS */
	--95grey:#c9c9c9;
	--home-bground:#E5E5E5;
	--3d-darkest:#0a0a0a;
	--3d-dark:#808080;
	--3d-light:#dfdfdf;
	--3d-lightest:#ffffff;
	--urlbar-bg:#ffffff;
	--button-colour:#0a0a0a;
	
/* Defines the 3d effect in normal browsing. */
	--95convex:inset -1px -1px var(--3d-darkest),inset 1px 1px var(--3d-lightest),inset -2px -2px var(--3d-dark),inset 2px 2px var(--3d-light);
	--95concave:inset -1px -1px var(--3d-lightest),inset 1px 1px var(--3d-dark),inset -2px -2px var(--3d-light),inset 2px 2px var(--3d-darkest);


/* PRIVATE BROWSING COLORS */
	--pb95grey:#c9c9c9;
	--pb-home-bground:#E5E5E5;
	--pb-3d-darkest:#0a0a0a;
	--pb-3d-dark:#808080;
	--pb-3d-light:#dfdfdf;
	--pb-3d-lightest:#ffffff;
	--pb-urlbar-bg:#ffffff;
	--pb-button-colour:#000000;

/* Defines the 3d effect in private browsing. */
	--pb-95convex:inset -1px -1px var(--pb-3d-darkest),inset 1px 1px var(--pb-3d-lightest),inset -2px -2px var(--pb-3d-dark),inset 2px 2px var(--pb-3d-light);
	--pb-95concave:inset -1px -1px var(--pb-3d-lightest),inset 1px 1px var(--pb-3d-dark),inset -2px -2px var(--pb-3d-light),inset 2px 2px var(--pb-3d-darkest);
}


.tabbrowser-tab[label^="New Tab"] .tab-icon-image {
      content: url("ff-std-alt.svg") !important;
}

#nav-bar:not([tabs-hidden="true"]) {
    box-shadow: 0px -1px 0px 0px grey !important;
}
.browser-toolbar{
    background-color: var(--95grey) !important;
}
.tab-background[selected]{
 	box-shadow: var(--95convex)  !important;
	border-radius:0 !important;
    background-color: var(--95grey) !important;
    background-image: none !important;
}
.tab-background{
    border-radius: 0px !important;
}
.tab-content{
    color: var(--button-colour) !important;
}

#TabsToolbar .tabs-newtab-button:hover {
    border-radius:0 !important;
}
.tabs-newtab-button:hover .toolbarbutton-icon {
   border-radius:0 !important;
}
#urlbar-background{
	background-color:var(--urlbar-bg) !important;
    outline: none !important;
    border:none !important;
    border-radius: 0px !important;
    box-shadow: var(--95concave) !important;
}
#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background, #searchbar:focus-within{
    border:1px solid #000080 !important;
}
.toolbarbutton-1{
    border-radius: 0px !important;
    color: #0a0a0a !important;
    fill: var(--button-colour) !important;
}
.toolbarbutton-icon{
    border-radius: 0px !important;
}
.toolbarbutton-1 > .toolbarbutton-icon, toolbar .toolbarbutton-1 > .toolbarbutton-text, toolbar .toolbarbutton-1 > .toolbarbutton-badge-stack{
    border-radius: 0px !important; 
}
.toolbarbutton-1:hover{
    border-radius: 0px !important;
}
.toolbar-items{
    background-color: var(--95grey) !important;
}
.PanelUI-subView{
    background-color: var(--95grey) !important;
    box-shadow: var(--95convex) !important;
   /* color: black; */
}
.cui-widget-panel, .panel-no-padding{
    --panel-border-radius: 0px !important;
}

.autoscroller {
  background-image: size_all.png !important;
}


